attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.9
coverage==6.3.2
fortranformat==1.2.2
idna==3.3
iniconfig==1.1.1
numpy
packaging==21.3
pandas
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.7
pytest==7.0.1
pytest-cov==2.12.1
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2021.3
requests
rosetta-soil==0.1.1
six==1.16.0
toml==0.10.2
tomli==2.0.1
